.heading {
  color: red;
}
.inputbox {
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.result {
  padding: 10px;
  border-radius: 5px;
  background-color: greenyellow;
  color: red;
}
.resultcolor {
  color: blue;
}

button {
  padding: 15px;
  margin: 10px;
}
